doctype 5
html
    head
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/parse-1.4.0.js')
        script(type='text/javascript', src='/js/custom.js')
        title App Home
    body
        center
            h1 Home
            h4 current user status
            if(currentSession==null)
                p Null
            else
                p #{user}
                a(href="/logout") Logout