doctype 5
html
    head
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/parse-1.4.0.js')
        script(type='text/javascript', src='/js/custom.js')
        title Sample App
    body
        center
            h1 Login
            button(onclick="Login_Signup()") Log In with Facebook